@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Oswald:200,300,400,500,600,700');

.navbar-expand-md{
  .navbar-nav {
    .nav-link{
      font-weight: 700;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}